.book{
    display: table;
    height: 250px;
}

.book-image{
    width: 50px;
    height: 50px;
    display: table-cell;
}

.book-content{
    display: table-cell;
}

.book-actions{
    display: table-cell;
}

.book-content{
    color: #aaa;
    font-size: 24px;
}

.book-name{
    font-size: 30px;
}
